/* linked Comfortaa google font fails to show accents in Edge */
@font-face {
  font-family: "Comfortaa";
  src: url(fonts/comfortaa-regular.ttf);
}

body {
  margin: 0;
  font-size: 16px;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Comfortaa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-container {
  max-width: 100%;
  margin-top: 67px;
}

summary {
  /* hide arrows */
  display: block;
  cursor: pointer;
}

li {
  cursor: pointer;
}

.w3-ul {
  padding-top: 4px;
}

.bottom-arrows span {
  cursor: pointer;
}